---
interface Props {
  proyectsList: Array<object>;
}

const { proyectsList } = Astro.props;
---

<section id="proyects" class="bg-color text-center pt-5">
  <h2 class="text-white mt-4 text-domine">Mis proyectos</h2>
  <hr class="mt-0 mb-0 title-line" />
  <div class="container" id="proyects-container"></div>
</section>

<style is:global>
  .badge-light {
    color: #212529;
    background-color: #eeeeee;
  }
</style>

<script is:inline define:vars={{ proyectsList: JSON.stringify(proyectsList) }}>
  const printProyects = (arrProyects) => {
    let templateProyects = "";

    // title: '',
    // img: '',
    // description: '',
    // demo: '',
    // code: '',
    // tag: ['']

    templateProyects +=
      '<div class="row row-cols-1 row-cols-md-3 me-2 ms-2 mt-4 pb-5">';

    arrProyects.forEach(({ title, img, description, demo, code, tags }) => {
      templateProyects += `
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card mb-3 h-100 border-0">
            <img src="${img}" class="card-img-top" alt="${title}">
            <div class="card-body">
              <span class="card-title">${title}</span>
              <p class="card-text my-1 fw-light text-justify">
              ${tags.map(
                ({ icon, label }) => `
                  <span class="badge rounded-pill badge-light fw-light">
                    <i class="${icon}"></i>
                    ${label}
                  </span>`,
              )}
              </p>
              <p class="card-text text-justify">${description}</p>
              <a href="${demo}" target="_blank" class="btn btn-purple text-white m-1">
                <i class="bi bi-eye-fill text-white me-2"></i>Demo</a>
              <a href="${code}" target="_target" class="btn btn-purple text-white m-1">
                <i class="bi bi-github text-white me-2"></i>Código</a>
            </div>
          </div>
        </div>`;
    });

    templateProyects += "</div>";

    return templateProyects.replace(/,/gi, "");
  };

  const contProyects = document.querySelector("#proyects-container");
  contProyects.innerHTML = printProyects(JSON.parse(proyectsList));
</script>
