---
import proyectsList from "../data/proyects";
import icons from "../data/icons";

import addedIcons from "../utils/addedIcons";

const mapedProyects = addedIcons(icons, proyectsList, "tags");
---

<section id="proyectos" class="text-center pt-5">
  <h2 class="mt-4 text-domine">Mis proyectos</h2>
  <hr class="mt-0 mb-0 title-line" />
  <div class="container" id="proyects-container">
    <div class="row row-cols-1 row-cols-md-3 me-2 ms-2 mt-4 pb-5">
      {
        mapedProyects.length && icons.length ? (
          mapedProyects.map(({ title, img, description, demo, code, tags }) => (
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="card mb-3 h-100 border-0">
                <img src={img} class="card-img-top" alt={title} />
                <div class="card-body">
                  <span class="card-title">{title}</span>
                  <p class="card-text my-1 fw-light text-justify">
                    {tags.map(({ className, label, short_label }) => (
                      <span class="badge rounded-pill badge-light fw-light m-1 text-black">
                        <i class={className} />
                        {short_label ? short_label : label}
                      </span>
                    ))}
                  </p>
                  <p class="card-text text-justify">{description}</p>
                  <a
                    href={demo}
                    target="_blank"
                    class="btn btn-purple m-1"
                  >
                    <i class="bi bi-eye-fill me-2" />
                    Demo
                  </a>
                  <a
                    href={code}
                    target="_target"
                    class="btn btn-purple m-1"
                  >
                    <i class="bi bi-github me-2" />
                    Código
                  </a>
                </div>
              </div>
            </div>
          ))
        ) : (
          <div>
            <p>Cargando ...</p>
          </div>
        )
      }
    </div>
  </div>
</section>

<style is:global>
  .badge-light {
    color: #212529;
    background-color: #eeeeee;
  }
</style>
